@charset "UTF-8";
/* CSS Document */

#container {
    width: 968px;
    background: #FFF;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
#container #background {
	background-image: url(../Exported%20Slices/images/HomePage.jpg);
	background-repeat: no-repeat;
	position: relative;
	height: 900px;
	width: 935px;
	background-color: #FFF;
}
#container #background #bio_button img {
	position: absolute;
	right: 468px;
	top: 222px;
}
#container #background #music_button img {
	position: absolute;
	bottom: 678px;
	left: 698px;
	height: 24px;
	width: 71px;
}
#container #background #comic_button img {
	position: absolute;
	right: 633px;
	top: 450px;
}
#container #background #live_button img {
	position: absolute;
	top: 673px;
	left: 695px;
}
#container #background #software_button img {
	position: absolute;
	top: 672px;
}
#container #bio_background {
	background-image: url(../Exported%20Slices/images/BioBackground.jpg);
	background-repeat: no-repeat;
	position: relative;
	height: 900px;
	width: 935px;
}
#container #background #home_button img {
	position: absolute;
	top: 8px;
}
#container #bio_background #home_button img {
	position: absolute;
	top: 8px;
}
#container #bio_background #bio_button img {
	position: absolute;
	top: 222px;
	right: 468px;
	width: 37px;
}
#bio_text {
	background-color: #FFF;
	height: 448px;
	width: 221px;
	position: relative;
	top: 0px;
	left: 471px;
}
#container #bio_background #bio_text {
	position: absolute;
	left: 471px;
}
#container #bio_background #bio_text {
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: #999;
	text-align: justify;
}
#bio_text_photo_credit {
	background-color: #FFF;
	width: 264px;
	position: relative;
	top: 883px;
}
#container #bio_background #bio_text_photo_credit {
	position: absolute;
	left: 675px;
}
#container #bio_background #bio_text_photo_credit {
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: #999;
	text-align: justify;
}
#container #live_background {
	background-image: url(../Exported%20Slices/images/LiveBackground.jpg);
	background-repeat: no-repeat;
	position: relative;
	height: 900px;
	width: 935px;
}
#container #live_background #home_button img {
	position: absolute;
	top: 8px;
}
#container #live_background #live_button img {
	position: absolute;
	left: 695px;
	top: 673px;
}
#live_text_column_1 {
	background-color: #FFF;
	height: 809px;
	width: 230px;
}
#container #live_background #live_text_column_1 h1 {
	text-align: left;
	font-size: 14px;
	color: #666;
}
#container #live_background #live_text_column_1 {
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: #999;
	position: absolute;
	top: 70px;
	left: 0px;
}
#container #live_background #live_text_column_1 p {
	text-align: justify;
}
#container #live_background #live_text_column_1 h4 {
	color: #D0D0D0;
	text-align: justify;
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
}
#container #live_background #live_text_column_2 {
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: #999;
	position: absolute;
	top : 60px;
	left: 469px;
	width: 217px;
	text-align: justify;
}
#container #live_background #live_text_column_2 h4 {
	color: #D0D0D0;
	text-align: justify;
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
}
#music_background {
	background-image: url(../Exported%20Slices/images/MusicBackground.jpg);
	background-repeat: no-repeat;
	position: relative;
	height: 900px;
	width: 935px;
}
#container #music_background #home_button a img {
	position: absolute;
	top: 8px;
}
#container #software_background #home_button img {
	position: absolute;
	top: 8px;
}
#container #software_background {
	position: relative;
	height: 900px;
	width: 935px;
}
#container #comic_background #home_button img {
	position: absolute;
	top: 8px;
}
#comic_text_column_1 {
	background-color: #FFF;
	width: 230px;
	position: absolute;
}
#container #comic_background #comic_text_column_1 {
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: #999;
	position: absolute;
	height: 193px;
	top: 208px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
#container #comic_background #comic_text_column_1 p {
	text-align: justify;
}
#container #comic_background #comic_text_column_1 h4 {
	color: #D0D0D0;
	text-align: justify;
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
}
#container #comic_background {
	background-image: url(../Exported%20Slices/images/ComicBackground.jpg);
	background-repeat: no-repeat;
	position: relative;
	height: 900px;
	width: 935px;
}
#comic_text_column_2 {
	background-color: #FFF;
	width: 220px;
	position: absolute;
}
#container #comic_background #comic_text_column_2 {
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: #999;
	position: absolute;
	height: 193px;
	top: 435px;
	left: 470px;
	right: 0px;
	bottom: 0px;
}
#container #comic_background #comic_text_column_2 p {
	text-align: justify;
}
#container #comic_background #comic_text_column_2 h4 {
	color: #D0D0D0;
	text-align: justify;
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
}
#software_text_column_1 {
	background-color: #FFF;
	width: 238px;
	position: absolute;
}
#container #software_background #software_text_column_1 {
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: #999;
	position: absolute;
	height: 209px;
	top: 0px;
	left: 699px;
	right: 0px;
	bottom: 0px;
}
#container #software_background #software_text_column_1 p {
	text-align: justify;
}
#container #software_background #software_text_column_1 h4 {
	color: #D0D0D0;
	text-align: justify;
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
}
#buy_links {
	background-color: #FFF;
	width: 220px;
	position: absolute;
}
#container #comic_background #buy_links {
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: #999;
	position: absolute;
	height: 155px;
	right: 716px;
	top: 738px;
	text-decoration: none;
}
#container #comic_background #buy_links p {
	text-align: justify;
}
#container #comic_background #buy_links h4 {
	color: #D0D0D0;
	text-align: justify;
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
}
#music_text_column_1 {
	background-color: #FFF;
	width: 235px;
	position: absolute;
}
#container #music_background #music_text_column_1 {
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: #999;
	position: absolute;
	height: 209px;
	top: 248px;
	left: 233px;
	right: 0px;
	bottom: 0px;
}
#container #music_background #music_text_column_1 p {
	text-align: justify;
}
#container #music_background #music_text_column_1 h4 {
	color: #D0D0D0;
	text-align: justify;
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
}
#music_text_column_2 {
	background-color: #FFF;
	width: 225px;
	position: absolute;
}
#container #music_background #music_text_column_2 {
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: #999;
	position: absolute;
	height: 209px;
	top: 248px;
	left: 470px;
	right: 0px;
	bottom: 0px;
	text-align: justify;
}
#container #music_background #music_text_column_2 p {
	text-align: justify;
}
#container #music_background #music_text_column_2 h4 {
	color: #D0D0D0;
	text-align: justify;
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
}
#music_text_column_3 {
	background-color: #FFF;
	width: 230px;
	position: absolute;
}
#container #music_background #music_text_column_3 {
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: #999;
	position: absolute;
	height: 209px;
	top: 510px;
	left: 1px;
	right: 0px;
	bottom: 0px;
	text-align: justify;
}
#container #music_background #music_text_column_3 p {
	text-align: justify;
}
#container #music_background #music_text_column_3 h4 {
	color: #D0D0D0;
	text-align: justify;
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
}
#preview_pack {
	background-color: #FFF;
	width: 184px;
	position: absolute;
	font-family: InaiMathi, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: #999;
	position: absolute;
	height: 17px;
	top: 205px;
	left: 1px;
	right: 0px;
	bottom: 0px;
	text-align: justify;
}
#preview_pack p {
	text-align: justify;
}
